<!--Linguaggio jade -->
<!-- div con id content-->
doctype html
html(lang="it")
    head
        title="Real time web chat"
    body
    
        #content(style='width: 500px; height:300px; margin 0 0 20px; 0; border: solid 1px #999; overflow-y: scroll;')
        .controls
            input#filed(style='width:350px;')
            input#send(type='button',value='send')