h1{
    margin: 0% 20% 0;
}

body{
    background-color: #8495E9;
}

table,th,td{
    border: 2px solid black;
}
table{
    width: 60%;
}

.verticale {
    padding: 20px;
    max-width: 500px;
    width: 80%;
    margin: 0% 20% 0%;
}
div{
    width: 100%;
}