h1 {
    display: inline-block;
    font-size: 60px;
    color: rgb(0, 0, 0);
    margin: 1% 50% 1%;
    text-align: center;
    border-left-width: 50%;
    border-right-width: 50%
}

#a{
    float: left;
}

body {
    height:100%;
    background-color: #c5eee6;
}

fieldset {
    width: fit-content;
    border: none;
    margin: 20% 50% 0%;
}

a:link {
    text-decoration: none;
}

.verticale {
    padding: 20px;
    max-width: 500px;
    width: 80%;
    margin: 0% 20% 0%;
}

input{
    margin-top: 5 px;
}

.button-to-site{
    background-color: #ffffff;
    border-width: 2px;
    border-color: black;
    border-style: double;
    position: relative;
    top:25px;
    left:10px;
    padding-top: 25px;
    padding-bottom: 25px ;
    padding-left: 25px;
    padding-right: 25px;
    width: 300px;
    height: 100px;
    font-size: large;
    color:black;
}
label{
    margin-bottom: 2px;
}
