h1 {
    text-align: center;
    color: black
}

body {
    background-color: #8495E9;
}

fieldset {
    width: fit-content;
    border: none;
    margin: 20% 50% 0%;
}
input{
    width: 230px;
}

.verticale {
    padding: 20px;
    max-width: 500px;
    width: 80%;
    margin: 0% 20% 0%;
}

label{
    margin-bottom: 2px;
}
div{
    width: 100%;
}